<div class="main2_container_icon_fenetre">
    <img class="icon" src="./../../assets/images/la-fenetre.png" alt=""/>
    <p class="sous_icon">Des produits adaptés à tous vos projets</p>
    <img class="sous_icon_plus"  src="./../../assets/images/plus.png" alt="" width="35px" (click)="clickButton($event)"/> <!-- (click)="clickButton($event)"/> -->
    <p class="sous_icon_texte">Selon votre budget, vos besoins et vos attentes : une maison individuelle,
        une maison d'architecte, du logement collectif, des bâtiments tertiaires et
        industriels. Tous vos projets seront réalisés !</p>
</div>
