<div class="main">
        <div class="main_contact">
            <div class="main_contact_title">Contact</div>
            <div class="main_contact_img"></div>
        </div>
        <div class="main_information_enveloppe">
            <div class="main_information_enveloppe_block">
                <div class="main_information_enveloppe_block_bureau">
                    Retrouvez-nous dans nos bureaux du lundi au vendredi de 9h à 17h et le samedi sur rendez-vous
                </div>
                <div class="main_information_enveloppe_block_adresse">
                    1485 chemin de la Vallée 13400 Aubagne
                    04 88 60 22 28
                </div>
            </div>
        </div>
    <div class="main_formulaire">
        <div class="main_formulaire_texte">
            <p class="main_formulaire_texte_p1">
                Vous souhaitez collaborer avec nous, poser une question précise ou simplement faire une demande prix ?
            </p>
            <p class="main_formulaire_texte_p2">
                N'hésitez pas à nous contacter en remplissant le formulaire.            
            </p>     
        </div>
        <div class="main_formulaire_block"></div>
    </div>

    <div class="formulaire">
        <form [formGroup]="monFormulaire" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="nom">
            <input type="text" formControlName="email">
            <input type="text" formControlName="objet">
            <input type="text" formControlName="message">
            <button type="submit" [disabled]="!monFormulaire?.valid">Envoyer</button>
          </form>
          mon formulaire est valide : {{!monFormulaire?.valid}}
    </div>
</div>
