<div class="main">
        <div class="main_contact">
            <div class="main_contact_title">Contact</div>
            <div class="main_contact_img"></div>
        </div>
        <div class="main_information_enveloppe">
            <div class="main_information_enveloppe_block">
                <div class="main_information_enveloppe_block_bureau">
                    Retrouvez-nous dans nos bureaux du lundi au vendredi de 9h à 17h et le samedi sur rendez-vous
                </div>
                <div class="main_information_enveloppe_block_adresse">
                    1485 chemin de la Vallée 13400 Aubagne
                    04 88 60 22 28
                </div>
            </div>
        </div>
    <div class="main_formulaire">
        <div class="main_formulaire_texte">
            <p class="main_formulaire_texte_p1">
                Vous souhaitez collaborer avec nous, poser une question précise ou simplement faire une demande prix ?
            </p>
            <p class="main_formulaire_texte_p2">
                N'hésitez pas à nous contacter en remplissant le formulaire.            
            </p>     
        </div>
        <div class="main_formulaire_block"></div>
    </div>

    <form [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="contact" class="form-area">
            <div>
                <div class="col-md-2">
                    <label>Nom</label>
                </div>
                <div class="col-md-9">
                    <input type="text" formControlName="nom">
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label>Prenom</label>
                </div>
                <div class="col-md-9">
                    <input type="text" formControlName="prenom">
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label>Email</label>
                </div>
                <div class="col-md-9">
                    <div class="input-space">
                        <input type="text" formControlName="email">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="email.errors['required']">
                                the email is required
                            </div>
                            <div *ngIf="email!=null && email.errors['pattern']">
                                the email is not correct
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label>Objet du message de contact</label>
                </div>
                <div class="col-md-9">
                    <input type="text" formControlName="objet">
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label>Message</label>
                </div>
                <div class="col-md-9">
                    <input type="text" formControlName="message">
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-info">Purchase</button>
        </div>
        </form>
      
</div>
